# IntelliJ project files
.idea

### Node template
# Logs
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Mac OSX specific
.DS_Store

# Build folder
dist
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
